parameters:
  level: 7
  paths:
      - ./src
  ignoreErrors:
      # False positives
      -
          message: '#Parameter (.)+ of method bovigo\\assert\\Expectation::throws\(\) expects (.)+, int given#'
          path: src/test/php/ExpectationTest.php
      -
          message: '#Parameter (.)+ of of function bovigo\\assert\\predicate\\hasKey expects int|string, array given#'
          path: src/test/php/predicate/HasKeyTest.php
      -
          message: '#Parameter (.)+ of method bovigo\\assert\\predicate\\IsOfSize::traversable\(\) expects Iterator|IteratorAggregate, Traversable given#'
          path: src/main/php/predicate/IsOfSize.php
      -
          message: '#method bovigo\\assert\\predicate\\IteratingPredicate::traversable\(\)  should return array|Iterator but returns iterable#'
          path: src/main/php/predicate/IteratingPredicate.php
      -
          message: '#of class bovigo\\assert\\predicate\\CallablePredicate constructor expects callable\(\): mixed, string given#'
          path: src/main/php/predicate/predicates.php
      -
          message: '#of function bovigo\\assert\\expect expects callable\(\): mixed, array\(bovigo\\assert\\predicate\\PredicateFooExample, .+\) given#'
          path: src/test/php/predicate/PredicateTest.php
