parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: 9
  paths:
      - src/main/php/
      - src/test/php/
  excludePaths:
      - src/main/php/phpunit/TestCase.php
      # predicates cause some kind of problem for phpstan
      # Scanning the files each on their own doesn't reveal any problem,
      # but scanning the whole folder does. Ignoring for now.
      - src/main/php/predicate
      - src/test/php/predicate
